@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Добро пожаловать на сайт Компьютерной фирмы!</h1> <br> <br>
        <p>Здесь вы можете найти всю необходимую информацию для создания вашего компьютера мечты.</p>
        <h1 class="display-4"><a href="https://localhost:44367/Components" style=" color: lawngreen; text-decoration: none;">Комплектующие</a></h1>
        <p style="color: darkseagreen">----------------------</p>
        <h1 class="display-4"><a href="https://localhost:44367/Customers" style=" color: lawngreen; text-decoration: none;">Заказчики</a></h1>
        <p style="color: darkseagreen">----------------------</p>
        <h1 class="display-4"><a href="https://localhost:44367/Employees" style=" color: lawngreen; text-decoration: none;">Сотрудники</a></h1>
        <p style="color: darkseagreen">----------------------</p>
        <h1 class="display-4"><a href="https://localhost:44367/Order" style=" color: lawngreen; text-decoration: none;">Заказы</a></h1>
        <p style="color: darkseagreen">----------------------</p>
        <h1 class="display-4"><a href="https://localhost:44367/Positions" style=" color: lawngreen; text-decoration: none;">Должности</a></h1>
        <p style="color: darkseagreen">----------------------</p>
        <h1 class="display-4"><a href="https://localhost:44367/Service" style=" color: lawngreen; text-decoration: none;">Услуги</a></h1>
        <p style="color: darkseagreen">----------------------</p>
        <h1 class="display-4"><a href="https://localhost:44367/TypesComponents" style=" color: lawngreen; text-decoration: none;">Виды Комплектующих</a></h1>
        <br><br><br><br><br><br><br>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>