@page
@model WebComputerFirm.Pages.Service.CreateModel

@{
    ViewData["Title"] = "Добавление информации";
}

<h1>Добавить</h1>

<h4>Услуги</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Services.ServiceId" class="control-label"></label>
                <input asp-for="Services.ServiceId" class="form-control" />
                <span asp-validation-for="Services.ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Services.ServiceTitle" class="control-label"></label>
                <input asp-for="Services.ServiceTitle" class="form-control" />
                <span asp-validation-for="Services.ServiceTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Services.ServiceDescription" class="control-label"></label>
                <input asp-for="Services.ServiceDescription" class="form-control" />
                <span asp-validation-for="Services.ServiceDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Services.ServiceCost" class="control-label"></label>
                <input asp-for="Services.ServiceCost" class="form-control" />
                <span asp-validation-for="Services.ServiceCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
