@page
@model WebComputerFirm.Pages.TypesComponents.CreateModel

@{
    ViewData["Title"] = "Добавление информации";
}

<h1>Добавить</h1>

<h4>Виды комплектующих</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypesComponent.TypeId" class="control-label"></label>
                <input asp-for="TypesComponent.TypeId" class="form-control" />
                <span asp-validation-for="TypesComponent.TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypesComponent.TypeTitle" class="control-label"></label>
                <input asp-for="TypesComponent.TypeTitle" class="form-control" />
                <span asp-validation-for="TypesComponent.TypeTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypesComponent.TypeDescription" class="control-label"></label>
                <input asp-for="TypesComponent.TypeDescription" class="form-control" />
                <span asp-validation-for="TypesComponent.TypeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
