@page
@model WebComputerFirm.Pages.FillReq.Request.ListComponentModel
@{
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(ModelItem => Model.Component[0].ComponentMark)</th>
            <th scope="col">@Html.DisplayNameFor(ModelItem => Model.TypesComponent[0].TypeTitle)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Component)
        {
<tr>
    <td>@Html.DisplayFor(ModelItem => item.ComponentMark)</td>
    <td>
        @{ try
                            {
            @Model.TypesComponent.First(p => p.TypeId == item.TypeId).TypeTitle }
                            catch
                            {
            <p>нет</p> } }
    </td>
</tr>}


    </tbody>
</table>
