@page
@model WebComputerFirm.Pages.Components.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Component</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Component.ComponentManufacturer" class="control-label"></label>
                <input asp-for="Component.ComponentManufacturer" class="form-control" />
                <span asp-validation-for="Component.ComponentManufacturer" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Component.ComponentId" />
            <div class="form-group">
                <label asp-for="Component.ComponentMark" class="control-label"></label>
                <input asp-for="Component.ComponentMark" class="form-control" />
                <span asp-validation-for="Component.ComponentMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Component.ComponentCountryManufacturer" class="control-label"></label>
                <input asp-for="Component.ComponentCountryManufacturer" class="form-control" />
                <span asp-validation-for="Component.ComponentCountryManufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Component.ComponentDate" class="control-label"></label>
                <input asp-for="Component.ComponentDate" class="form-control" />
                <span asp-validation-for="Component.ComponentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Component.ComponentDiscription" class="control-label"></label>
                <input asp-for="Component.ComponentDiscription" class="form-control" />
                <span asp-validation-for="Component.ComponentDiscription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Component.ComponentCost" class="control-label"></label>
                <input asp-for="Component.ComponentCost" class="form-control" />
                <span asp-validation-for="Component.ComponentCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Component.ComponentCharacteristics" class="control-label"></label>
                <input asp-for="Component.ComponentCharacteristics" class="form-control" />
                <span asp-validation-for="Component.ComponentCharacteristics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Component.ComponentTermWarranty" class="control-label"></label>
                <input asp-for="Component.ComponentTermWarranty" class="form-control" />
                <span asp-validation-for="Component.ComponentTermWarranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Component.TypeId" class="control-label"></label>
                <select asp-for="Component.TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                <span asp-validation-for="Component.TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
